---
- name: Ensure the system is either Ubuntu or Debian
  ansible.builtin.fail:
    msg: "Unsupported OS. This role only supports Ubuntu and Debian."
  when: apt_nexus_mirror_nexus_sources | length == 0

- name: Backup existing sources.list
  ansible.builtin.copy:
    src: /etc/apt/sources.list
    dest: /etc/apt/sources.list.bak
    backup: true
    mode: '0644'
  tags: backup

- name: Remove all existing APT source lists in sources.list.d
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ query('fileglob', '/etc/apt/sources.list.d/*.list') }}"
  when: query('fileglob', '/etc/apt/sources.list.d/*.list') | length > 0
  tags: cleanup

- name: Clear contents of main sources.list
  ansible.builtin.copy:
    dest: /etc/apt/sources.list
    content: ""
    mode: '0644'
  tags: cleanup

- name: Add Nexus APT sources to sources.list
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list
    line: "{{ item }}"
    state: present
  loop: "{{ apt_nexus_mirror_nexus_sources }}"
  notify:
    - Update APT Cache
  tags: configure

- name: Ensure no residual APT sources exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ query('fileglob', '/etc/apt/sources.list.d/*.list') }}"
  when: query('fileglob', '/etc/apt/sources.list.d/*.list') | length > 0
  tags: cleanup
